h1{
    color:black; 
       font-size:  38px;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    
}   
.box{
    width:300;
    height: 300px;
    margin: 30px;
    text-align: justify;
    border-radius: 8px;
    box-shadow: 4px 4px 12px rgba (0,0,0.15);

}
p{
   text-align: center; 
    background-color: white;
    border-radius: 20px;
}
body{
    margin: 0;
    background-color: #f1f2f3f4;
}
header{
    width: 100%;
    height: 60px;
    background-color:  #dfecf8f4;
    display: block;
    border-radius: 8px;
}